.App {
  text-align: center;
}

/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(./fonts/RobotoLatinExt.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(./fonts/RobotoLatin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
body, .jumbotron, .progress, .modal, input, textarea, h6 {
    color: rgba(255, 255, 255, 0.87);
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.nav {
	margin: 2em;
}
.title{
	margin-top:2em;
}

.progress-status{
    transform: translateY(-19vh);
    font-size: 7vh;
}

  .progress {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.modal-content {
	background: #404040 !important;
	border-radius: 1.5rem !important;
}

input, textarea {
	background: #5f5f5f !important;
	color :rgba(255, 255, 255, 0.87) !important;
	border : none!important;
}